@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: " ";
	/* border-bottom: 0.5rem solid rgb(255, 253, 253); */
    z-index: 9999;
}

/* global styles */

.show {
    display: block !important;
}

.hide {
    display: none;
}

.js-modal {
    z-index: 9999;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    margin-top: 0.5rem;
    background: #ffffff;
    height: 5.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navheader {
    margin-left: 25%;
    letter-spacing: 1.2px;
    font-family: 'Oswald', sans-serif;
    color: rgb(8, 8, 8);
    font-size: 2rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.search {
 
    margin: 0 auto;
    background: #ffffff;
    display: flex;
}

.search__container {
    width: 50%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.search-form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration-color: #eee
}

.search-form__query {
    width: 20rem;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    font-family: 'Oswald', sans-serif;
    caret-color: rgb(3, 3, 3);
    text-decoration-color: rgb(5, 5, 5)
}

.search-form__query:focus {
    outline: none;
    color: rgb(2, 2, 2);
}

.result {
    background-image: linear-gradient(#ffffff 0%, #fcfafa 100%);
    height: auto;
}

.searches {
    padding: 3rem 0;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.searches__item-title {
    z-index: 11000;
    font-size: 1rem;
    font-family: Oswald, sans-serif;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    color: rgb(5, 0, 0);
}
@media only screen and (max-width: 1224px) {
    html {
        font-size: 16px;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

